<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Synca</title>
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <video autoplay muted loop id="bkg_video">
        <source src="img/video_background.mp4" type="video/mp4">
        Seu navegador não suporta vídeos em HTML5.
    </video>

    <!-- LOGO -->
    <div class="logo">
        <img src="img/logo_synca.png" alt="Logo Synca">
    </div>

    <!-- Conteúdo principal centralizado -->
    <div class="intro-synca">
        <h1>INFORMAÇÃO QUE FLUI</h1>
        <h2>PRODUÇÃO QUE ACONTECE</h2>
        <a href="#" class="botao-cta">Descubra</a>
    </div>

</body>
</html>
