/* reset */
* {
    margin: 0;
    padding: 0;   
}

/* ============================================= */
/* SEÇÃO: HERO           
/* ============================================= */

.hero-section {
    position: relative;
    height: 100vh; 
    width: 100%;
    overflow: hidden; 
    color: #FFFFFF;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

#bkg_video {
    position: absolute;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;         
}

.logo {
    position: absolute;   
    top: -25px;
    left: 50px;
    z-index: 10;
}
.logo img {
    max-width: 140px;
}

/* MENU */
.menu {
    position: absolute;
    top: 35px;
    right: 50px;
    display: flex;
    gap: 30px;
    z-index: 10;
}

.menu a {
    font-family: "Montserrat";
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 200;
    transition: 0.2s ease-in-out;
}

.menu a:hover,
.menu a.active {
    opacity: 0.7;
}

.botao-login {
    margin-top: -8px;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.3s;
    background-color: #FFFFFF;
    font-weight: 600 !important;
}
.intro-synca {
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
    z-index: 10; 
}

.intro-synca h1,
.intro-synca h2 {
    font-family: "Gilda Display", serif;
    font-weight: 200 !important;
    font-size: 40px;
    margin: 0;
    line-height: normal;  
}

.botao-cta {
    margin-top: 30px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 30px;
    background: #FFFFFF;
    text-decoration: none;
    color: #000000;
    font-family: "Gilda Display", sans-serif;
    font-size: 16px;
    font-weight: 200;
    transition: 0.3s;
}

.botao-cta:hover {
    opacity: 0.8;
    transform: scale(1.05);
}


/* ======================================================= */
/* SEÇÃO: SOBRE SYNCA 
/* ======================================================= */

.sobre-synca-section {
    display: flex;
    align-items: center; 
    gap: 60px; 
    padding: 80px 50px; 
    max-width: 1200px; 
    margin: 40px auto; 
    background-color: #ffffff;
}


.sobre-synca-imagem {
    flex: 1; 
    border-radius: 20px; 
}


.sobre-synca-imagem img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}


.sobre-synca-texto {
    flex: 1; 
}

.tag {
    display: inline-block;
    background-color: #151414;
    color: #e5e1e1;
    padding: 6px 16px;
    border-radius: 15px; 
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.subtitulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: #111;
    margin: 0;
}

.sobre-synca-texto h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 2.2rem; 
    font-weight: 700; 
    color: #000;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 25px;
}

.sobre-synca-texto p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95rem;
    color: #555;
    line-height: 1.7;
    margin-bottom: 15px;
}

/* Dobra de clientes */

.clientes {
    background-color: #000;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.clientes h1 {
    text-align: center;
    font-size: 350%;
    padding: 90px;
}

.clientes img {
    position: relative;
    max-width: 35%;
    margin-left: 33%;
    margin-top: 120px;
    margin-bottom: 20%;
}

/* Contato */

.contato {
    position: absolute;
    background-color: #000;
    color: #FFFFFF;
    
}

.contato h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-left: 15%;
    font-size: 350%;
    margin-top: 12%;
    padding-bottom: 5%;
}

.contato p {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-left: 15%;
    font-size: 20px;
    max-width: 40%;
    margin-bottom: 2%;
}

/* Forms */

.form-group {
    margin-bottom: 10px;
    width: 50%; 
    margin-left: 15%;
    
}

.form-group label {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-bottom: 3px;
}

/* Inputs menores */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid white;
    background: black;
    color: white;
    font-size: 14px;
    transition: all 0.3s ease;
}

/* Placeholder branco */
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Hover e Focus */
.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-bottom: 1px solid rgba(17, 17, 110, 0.7);
}

.form-group input:hover,
.form-group textarea:hover {
    background: rgb(20, 20, 20);
}

/* Botão branco com texto preto */
.form-group input[type="submit"] {
    width: 150px;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 40px;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 20%;
}

.form-group input[type="submit"]:hover {
    background-color: rgb(230, 230, 230);
    transform: translateY(-2px);
}






/* AJUSTE PARA CELULARES (RESPONSIVO) */
@media (max-width: 768px) {

    .menu {
        top: 20px;
        right: 20px;
        gap: 15px;
    }
    .logo {
        left: 20px;
    }
    .intro-synca h1{
        font-size: 32px;
    }

    .intro-synca h2 {
        font-size: 32px;
    }

    .sobre-synca-section {
        flex-direction: column; 
        padding: 40px 20px;
        gap: 30px;
    }

    .sobre-synca-imagem {
        width: 100%;
    }

    .sobre-synca-texto h2 {
        font-size: 1.8rem;
    }
}