/* Remove a margem do body */
body {
    margin: 0;   
}

/* ============================================= */
/* SEÇÃO: HERO           
/* ============================================= */

.hero-section {
    position: relative;
    height: 100vh; 
    width: 100%;
    overflow: hidden; 
    color: #FFFFFF;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

#bkg_video {
    position: absolute;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;         
}

.logo {
    position: absolute;   
    top: -25px;
    left: 50px;
    z-index: 10;
}
.logo img {
    max-width: 140px;
}

/* MENU */
.menu {
    position: absolute;
    top: 35px;
    right: 50px;
    display: flex;
    gap: 30px;
    z-index: 10;
}

.menu a {
    font-family: "Montserrat";
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.menu a:hover,
.menu a.active {
    opacity: 0.7;
}

.botao-login {
    margin-top: -8px;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.3s;
    background-color: #FFFFFF;
}
.intro-synca {
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
    z-index: 10; 
}

.intro-synca h1,
.intro-synca h2 {
    font-family: "Gloock", serif;
    font-weight: 400;
    font-size: 40px;
    margin: 0;
    line-height: normal;
}

.botao-cta {
    margin-top: 30px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 30px;
    background: #FFFFFF;
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}

.botao-cta:hover {
    opacity: 0.8;
    transform: scale(1.05);
}


/* ======================================================= */
/* SEÇÃO: SOBRE SYNCA 
/* ======================================================= */

.sobre-synca-section {
    display: flex;
    align-items: center; 
    gap: 60px; 
    padding: 80px 50px; 
    max-width: 1200px; 
    margin: 40px auto; 
    background-color: #ffffff;
}


.sobre-synca-imagem {
    flex: 1; 
    border-radius: 20px; 
}


.sobre-synca-imagem img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}


.sobre-synca-texto {
    flex: 1; 
}

.tag {
    display: inline-block;
    background-color: #151414;
    color: #e5e1e1;
    padding: 6px 16px;
    border-radius: 15px; 
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.subtitulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: #111;
    margin: 0;
}

.sobre-synca-texto h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 2.2rem; 
    font-weight: 700; 
    color: #000;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 25px;
}

.sobre-synca-texto p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95rem;
    color: #555;
    line-height: 1.7;
    margin-bottom: 15px;
}


/* AJUSTE PARA CELULARES (RESPONSIVO) */
@media (max-width: 768px) {

    .menu {
        top: 20px;
        right: 20px;
        gap: 15px;
    }
    .logo {
        left: 20px;
    }
    .intro-synca h1{
        font-size: 32px;
    }

    .intro-synca h2 {
        font-size: 32px;
    }

    .sobre-synca-section {
        flex-direction: column; 
        padding: 40px 20px;
        gap: 30px;
    }

    .sobre-synca-imagem {
        width: 100%;
    }

    .sobre-synca-texto h2 {
        font-size: 1.8rem;
    }
}