* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
    font-weight: 400;
}

/* Fundo - Vídeo */
#bkg_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Logo */
.logo {
    position: fixed;
    top: -25px;
    left: 50px;
    z-index: 10;
}
.logo img {
    max-width: 140px;
}

/* MENU */
.menu {
    position: fixed;
    top: 35px;
    right: 50px;
    display: flex;
    gap: 30px;
    z-index: 10;
}

.menu a {
    font-family: "Montserrat";
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.menu a:hover,
.menu a.active {
    opacity: 0.7;
}

.botao-login {
    margin-top: -8px;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.3s;
    background-color: #FFFFFF;
}

/* Conteúdo principal */
.intro-synca {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
    z-index: 20;
}

.intro-synca p{
    font-family: "Playfair Display", serif;
    font-weight: 300;
    font-size: 40px;
    margin: 0;
}

/* Botão CTA */
.botao-cta {
    margin-top: 30px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 30px;
    background: #FFFFFF;
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
}

.botao-cta:hover {
    opacity: 0.8;
    transform: scale(1.05);
}
