* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Mokoto';
    /* caminho relativo a partir de css/style.css */
    src: url('../fonte/mokoto/ttf/mokoto-mokoto-regular-400.ttf') format('truetype');
}
body {
    background: linear-gradient(90deg, rgb(4, 39, 79) 0%, rgb(15, 91, 151) 100%);
    margin-left: 96px;
    margin-right: 96px;
}

/* Menu de navegação no topo da página */

.menu {
    background: linear-gradient(90deg, rgb(4, 39, 79) 0%, rgb(15, 91, 151) 100%);
}
.menu a {
    color: rgb(247, 247, 247);
    text-decoration: none;
    float: right;
    text-align: center;
    padding: 45px 16px;
    font-family: 'Mokoto', sans-serif;
    font-size: 16px;
}   

.menu a:hover {
    background-color: rgb(182, 182, 182, 0.96);
    color: rgb(2, 21, 44, 0.96);
}

/* Video de fundo ocupando todo o espaço da tela */

#bkg_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que o vídeo cubra toda a área */
    z-index: -2; /* Coloca na camada de fundo */
}

/* Sobreposição para escurecer o vídeo de fundo */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Degradê com 96% de opacidade. */
    background: linear-gradient(45deg, rgba(182, 182, 182, 0.96) 0%, rgba(2, 21, 44, 0.96) 100%);
    z-index: -1; /* Coloca acima do vídeo, mas abaixo do conteúdo */
}

/* Logo no cantinho */

.logo {
    position: fixed;
    top: 45px;
    z-index: 1; /* Garante que o logo fique acima do vídeo e da sobreposição */
}

.logo {
    position: fixed;
    left: 96px;
    top: 10px;
    z-index: 1; /* Garante que o logo fique acima do vídeo e da sobreposição */
}

.logo img {
    max-width: 100px; /* limita o tamanho do logo */
    width: auto;
    height: auto;
    display: block;
}

/* Conteúdo de boas vindas */

.content {
    position: fixed;
    z-index: 1;
    color: white;
    text-align: left;
    margin-top: 200px;
    font-family: 'Mokoto', sans-serif;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

/* footer básico */
