* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Mokoto';
    src: url('../fonte/mokoto/ttf/mokoto-mokoto-regular-400.ttf') format('truetype');
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    width: 100vw;    
    height: 100vh;   
    object-fit: cover; 
}

.login {
    position: fixed;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}

.login-logo {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: auto;
}


.login-container {
    background: rgb(255, 255, 255);
    padding: 40px;
    padding-top: 120px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 700px;
}

.login h1 {
    padding-top: 120px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Mokoto', sans-serif;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: rgb(63, 63, 63);
    font-family: 'Mokoto', sans-serif;
    font-size: 10px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0); 
    background: rgba(175, 169, 169, 0.15);
    color: rgb(50, 50, 50);
    font-size: 16px;
    transition: all 0.3s ease;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
    outline: none;
    border-color: rgba(17, 17, 110, 0.7);
    background: rgba(255, 255, 255, 0.2);
}

.form-group input[type="text"]:hover,
.form-group input[type="password"]:hover {
    background: rgba(175, 169, 169, 0.15);
    box-shadow: none;
    transform: none;
}

.form-group input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: rgba(17, 17, 110);
    color: white;
    font-size: 16px;
    font-family: 'Mokoto', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 150px;
}

.form-group input[type="submit"]:hover {
    background: linear-gradient(45deg, rgba(15, 91, 151, 0.8) 0%, rgba(4, 39, 79, 0.8) 100%);
    transform: translateY(-2px);
}

