:root {
    --cor-primaria: #160F71;
    --cor-secundaria: #554eae;
    --cor-terciaria: #d1d1d1;
}
/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.cor_primaria {
    color: var(--cor-primaria);
}

body {
    background: white;
    color: var(--cor-primaria);
}


/* CONTAINER */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}


/* HEADER */
header {
    background: #ffffff;
    padding: 20px 0;
}

.nav-link {
    color: var(--cor-primaria);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #554eae;
}

.btn-sair {
    background-color: var(--cor-primaria);
    color: white;
    /* border: 2px solid var(--cor-primaria); */
    padding: 0.4rem 1.5rem;
    margin-top: 0.2rem;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-sair:hover {
    background-color: white;
    border: 1px solid var(--cor-primaria);
    color: var(--cor-primaria);
}

.header-divider {
    border: none;
    border-top: 2px solid var(--cor-primaria);
    opacity: 0.7;
    margin: 0 10%;
}

.logo {
    width: 70px;
}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logout-btn {
    background: #0c0b6b;
    color: #fff;
    padding: 10px 26px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: .2s;
}


.logout-btn:hover {
    opacity: 0.85;
}


/* === NOVA GRID SEPARADA POR LINHAS === */


.grid-row {
    display: grid;
    gap: 20px;
    margin-top: 30px;
}


/* Linha 1 e 2 → 2 cards esticados */
.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}


/* Linha 3 → 3 cards esticados */
.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}


.card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}


.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: brightness(0.75);
    transition: .3s;
}


.card:hover img {
    filter: brightness(0.55);
}


.card span {
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 4px #000;
    font-size: 15px;
}


/* FOOTER */
/* footer {
    background: #0c0b6b;
    padding: 16px 0;
    margin-top: 50px;
    text-align: center;
    color: #fff;
    font-size: 14px;
} */
footer {
    background-color: var(--cor-primaria);
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}
.footer-text {
    margin: 0;
    font-size: 0.9rem;
    font-weight: bold;
}

/* RESPONSIVIDADE */
@media (max-width: 900px) {
    .grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {
    header .logo {
        width: 90px;
    }


    .grid-2,
    .grid-3 {
        grid-template-columns: 1fr;
    }


    .card img {
        height: 160px;
    }
}